/* Général */
.container {
    display: flex;
    justify-content: space-between;
  }


  .invoiceSection{
    margin-top: 65px;
    margin-bottom: 20px;
    margin-left: 70px;
    margin-right: 25px;
  }


/* Images */
.logo {
    position: absolute;
    visibility: hidden;
    height: 800px;
    background-size: cover;
}

/* Facture */
.facture {
    position: absolute;
    width: 595px;
    height: 842px;
    background: #FFFFFF;
}

/* Rectangle 4245 */
.rectangle-4245 {
    position: absolute;
    width: 531px;
    height: 106px;
    left: 32px;
    top: 192px;
    background: #E6FDF7;
    opacity: 0.7;
    border-radius: 8px;
}

/* Facture à */
.facture-a {
    position: absolute;
    width: 65px;
    height: 16px;
    left: 56px;
    top: 216px;
    font-family: 'Ubuntu';
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 16px;
    color: #120D26;
}

/* Frame 2582 */
.frame-2582 {
    position: absolute;
    width: 173px;
    height: 82px;
    left: 390px;
    top: 32px;
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    padding: 0px;
    gap: 4px;
}

/* Facture */
.facture-title {
    width: 84px;
    height: 28px;
    font-family: 'Ubuntu';
    font-style: normal;
    font-weight: 500;
    font-size: 24px;
    line-height: 28px;
    display: flex;
    align-items: center;
    text-align: right;
    color: #5E09AF;
}

/* Réf. */
.ref {
    width: 66px;
    height: 14px;
    font-family: 'Ubuntu';
    font-style: normal;
    font-weight: 400;
    font-size: 12px;
    line-height: 14px;
    display: flex;
    align-items: center;
    text-align: right;
    color: #666371;
}

/* Date d'émission */
.date-emission {
    width: 170px;
    height: 14px;
    font-family: 'Ubuntu';
    font-style: normal;
    font-weight: 400;
    font-size: 12px;
    line-height: 14px;
    display: flex;
    align-items: center;
    text-align: right;
    color: #666371;
}

/* Date d'échéance */
.date-echeance {
    width: 173px;
    height: 14px;
    font-family: 'Ubuntu';
    font-style: normal;
    font-weight: 400;
    font-size: 12px;
    line-height: 14px;
    display: flex;
    align-items: center;
    text-align: right;
    color: #666371;
}

/* Frame 2581 */
.frame-2581 {
    position: absolute;
    width: 238px;
    height: 62px;
    left: 32px;
    top: 104px;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding: 0px;
    gap: 4px;
}

/* Weven app. */
.weven-app {
    width: 76px;
    height: 16px;
    font-family: 'Ubuntu';
    font-style: normal;
    font-weight: 500;
    font-size: 14px;
    line-height: 16px;
    display: flex;
    align-items: center;
    color: #000000;
}

/* 58 rue Ernest Renan, Chelles, Île-de-France */
.address {
    width: 238px;
    height: 42px;
    font-family: 'Ubuntu';
    font-style: normal;
    font-weight: 400;
    font-size: 12px;
    line-height: 14px;
    color: #666371;
}

/* icon_app-bg */
.icon-bg {
    position: absolute;
    width: 56px;
    height: 56px;
    left: 32px;
    top: 32px;
    background: #5E09AF;
    border-radius: 14px;
}

/* Frame 1 */
.frame-1 {
    position: absolute;
    width: 29.06px;
    height: 42px;
    left: calc(50% - 29.06px/2 - 0.19px);
    top: calc(50% - 42px/2 + 0px);
}

/* Vector */
.vector {
    position: absolute;
    width: 15px;
    height: 21px;
    left: 7.02%;
    right: 3.63%;
    top: 21.06%;
    bottom: 0%;
    background: #00EBB4;
}

/* Union */
.union {
    position: absolute;
    width: 15px;
    height: 21px;
    left: 0%;
    right: 0%;
    top: 0%;
    bottom: 48.66%;
    background: #FFFFFF;
}

/* Frame 2583 */
.frame-2583 {
    position: absolute;
    width: 173px;
    height: 58px;
    left: 366px;
    top: 216px;
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    padding: 0px;
    gap: 8px;
}

/* Condimentum auctor */
.condimentum-auctor {
    width: 118px;
    height: 8px;
    font-family: 'Ubuntu';
    font-style: normal;
    font-weight: 500;
    font-size: 12px;
    line-height: 14px;
    text-align: right;
    color: #120D26;
}

/* 21 Place Charles de Gaulle, Villenave-d'ornon, Aquitaine */
.place-address {
    width: 170px;
    height: 42px;
    font-family: 'Ubuntu';
    font-style: normal;
    font-weight: 400;
    font-size: 12px;
    line-height: 14px;
    text-align: right;
    color: #666371;
}

/* Line 22 */
.line-22 {
    position: absolute;
    width: 531px;
    height: 0px;
    left: calc(50% - 531px/2);
    top: 400px;
    border: 1px solid #E3E3E6;
}

/* Frame 2585 */
.frame-2585 {
    position: absolute;
    width: 515px;
    height: 14px;
    left: 32px;
    top: 378px;
}

/* Designation */
.designation {
    position: absolute;
    width: 66px;
    height: 14px;
    left: 0px;
    top: 0px;
    font-family: 'Ubuntu';
    font-style: normal;
    font-weight: 400;
    font-size: 12px;
    line-height: 14px;
    color: #666371;
}

/* Frame 2584 */
.frame-2584 {
    position: absolute;
    width: 318px;
    height: 14px;
    left: 197px;
    top: 0px;
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    gap: 48px;
}

/* Qté, P.U., Remise, Prix, TVA */
.qte,
.pu,
.remise,
.prix,
.tva {
    width: 20px;
    height: 14px;
    font-family: 'Ubuntu';
    font-style: normal;
    font-weight: 400;
    font-size: 12px;
    line-height: 14px;
    color: #666371;
}

/* Frame 2589 */
.frame-2589 {
    position: absolute;
    width: 223px;
    height: 82px;
    left: 340px;
    top: 557px;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 8px;
}

/* Total HT, Total TVA, Total TTC */
.total-ht,
.total-tva,
.total-ttc {
    width: 171px;
    height: 14px;
    font-family: 'Ubuntu';
    font-style: normal;
    font-weight: 400;
    font-size: 12px;
    line-height: 14px;
    color: #666371;
}

/* 350,00€ */
.total-amount {
    width: 44px;
    height: 14px;
    font-family: 'Ubuntu';
    font-style: normal;
    font-weight: 400;
    font-size: 12px;
    line-height: 14px;
    text-align: right;
    color: #120D26;
}

/* Line 23 */
.line-23 {
    position: absolute;
    width: 223px;
    height: 0px;
    border: 1px solid #E3E3E6;
}

/* Frame 2590 */
.frame-2590 {
    position: absolute;
    width: 529px;
    height: 64px;
    left: 34px;
    top: 667px;
}

/* Rectangle 4246 */
.rectangle-4246 {
    position: absolute;
    width: 529px;
    height: 64px;
    left: 0px;
    top: 0px;
    background: #E6FDF7;
    opacity: 0.7;
    border-radius: 8px;
}

/* Montant à payer */
.montant-a-payer {
    position: absolute;
    width: 105px;
    height: 16px;
    left: 24px;
    top: 24px;
    font-family: 'Ubuntu';
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 16px;
    color: #120D26;
}

/* Frais d’abonnement annuel WevenApp */
.abonnement-frais {
    position: absolute;
    width: 162px;
    height: 32px;
    left: 34px;
    top: 416px;
    font-family: 'Ubuntu';
    font-style: normal;
    font-weight: 400;
    font-size: 12px;
    line-height: 16px;
    color: #000000;
}

/* 14 Sept. 2021 - 14 Sept. 2022 */
.dates {
    position: absolute;
    width: 162px;
    height: 16px;
    left: 34px;
    top: 452px;
    font-family: 'Ubuntu';
    font-style: normal;
    font-weight: 400;
    font-size: 12px;
    line-height: 16px;
    color: #120D26;
}

/* 1, 350, 1%, 0,00% */
.amounts {
    position: absolute;
    height: 16px;
    font-family: 'Ubuntu';
    font-style: normal;
    font-weight: 400;
    font-size: 12px;
    line-height: 16px;
    color: #000000;
}

/* 350,00 € échéance abonnement 2022 */
.echeance {
    position: absolute;
    width: 241px;
    height: 16px;
    left: 34px;
    top: 338px;
    font-family: 'Ubuntu';
    font-style: normal;
    font-weight: 500;
    font-size: 14px;
    line-height: 16px;
    color: #120D26;
}
